body {
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1px;
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  z-index: 999;
  top: 0px;
  width: 100%;
  background-color: transparent;
}
.header-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1400px;
  z-index: 90;
  padding: 35px 40px;
}

/* Brand section */
.brand-logo {
  width: 140px;
}

nav.primary-navigation {
  display: flex;
  align-items: center;
  margin: auto;
}

.nav-link {
  font-size: 18px;
  color: rgb(35, 31, 32);
  text-decoration: none;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin: 0px 10px;
  padding: 0px 4px;
  position: relative;
  z-index: 99;
  cursor: pointer;
}

.action-button-group {
  display: flex;
}

.btn {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 2.6;
  font-weight: 400;
  border-radius: 5px;
  border: 0px;
  letter-spacing: 0.3px;
  cursor: pointer;
  user-select: none;
  appearance: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0px;
  width: auto;
  flex: 0 0 auto;
  height: 48px;
  font-family: Roboto, sans-serif;
  box-shadow: none;
  justify-content: center;
  box-sizing: border-box;
  transition-property: background-color, border-color, color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
  padding: 0px 24px;
  color: inherit;
  text-decoration: none;
}

.btn-primary {
  background-color: #00674b;
  color: rgb(255, 255, 255);
}

.btn-primary:hover {
  transition-property: background-color, border-color, color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
  background-color: #004d38;
}

.btn-secondary {
  border: 2px solid #00674b;
  background-color: transparent;
  color: #00674b;
}

.btn-secondary:hover {
  background: rgba(0, 77, 56, 0.15);
}

.action-button-group a:not(:last-of-type) {
  margin-right: 10px;
}

/* Main section */

main {
  min-height: 700px;
  overflow: hidden;
}

.hero-section {
  padding: 200px 0px 60px;
}

.hero-wrapper {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;
}

.primary-heading {
  font-size: calc(1.375rem + (1vw - 3.75px) * 1.6901);
  line-height: calc(2rem + (1vw - 3.75px) * 2.2535);
  max-width: 600px;
  text-align: center;
  margin: 0px 0px 1.875rem;
}

.sub-heading {
  margin-bottom: 2.375rem;
  line-height: 1.8;
  max-width: 80%;
  margin-top: 0px;
}

.hero-wrapper a.btn.btn-primary {
  padding: 32px 48px;
  box-shadow: rgb(0 0 0 / 15%) 0px 20px 50px 5px;
}

.fast-facts {
  width: 100%;
  display: flex;
  padding-top: 2.375rem;
  font-size: 0.875rem;
  justify-content: center;
}

.fast-facts .items {
  display: flex;
  align-items: center;
  max-width: fit-content;
}

span.items:before {
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(./assets/checkmark.svg);
}

.fast-facts span:not(:last-of-type) {
  margin-right: 16px;
}

/* Section Parters */
section.trusted-partners {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: url(./assets/jagged-border.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

h3.section-title {
  text-align: center;
  padding-top: 25px;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 700;
  margin: 0px 0px 1.25rem;
}

img.partner-logo {
  height: 46px;
  width: 76px;
  width: 80px;
  max-width: none;
  padding: 25px;
  background: #c4c4c4;
}

.partner-logo-section {
  display: flex;
  column-gap: 20px;
}

/* Section Tools */

section.social-media-tools {
  padding-top: 70px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.tool-cards {
  width: 33%;
  padding: 16px;
  position: relative;
  display: flex;
  margin: 10px 10px 25px;
  background-color: rgb(245, 245, 245);
  flex-direction: column;
  padding: 30px;
}

img.tool-app-icon {
  height: 92px;
  width: 92px;
  background: #f5f5f5;
  box-shadow: 0px 3px 8px rgb(0 0 0 / 15%);
  border-radius: 4px;
  display: block;
  position: relative;
  top: -50px;
}

/* Testimonials section */
section.testimonials {
  display: flex;
  width: 100%;
  position: relative;
  background-color: rgb(44, 75, 255);
  padding-bottom: 70px;
  padding-top: 0px !important;
}

.user-testimonials {
  padding-top: 70px;
  padding-bottom: 70px;
  max-width: 1130px;
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

img.user-avatar,
.testimonial {
  flex-basis: 50%;
  max-width: 50%;
  display: block;
}
